.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}

.footerLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.footerList {
    list-style: none;
    padding: 0;
}

.footerListItem {
    margin-bottom: 10px;
    color: #293462;
    cursor: pointer;
}